.App {
    --primaryBackgroundColor: #121212;
    --secondaryBackgroundColor: #262626;
    --tertiaryBackgroundColor: #2d2d2d;
    --primaryTextColor: #d8d4cf;
    --okColor: darkgreen;
    --errorColor: darkred;
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
}

@media (prefers-color-scheme: light) {
    .App {
        --primaryBackgroundColor: #f6f6f6;
        --secondaryBackgroundColor: #f6f6f6;
        --tertiaryBackgroundColor: #f6f6f6;
        --primaryTextColor: black;
		--okColor: lightgreen;
        --errorColor: pink;
    }
}

.Card {
    background-color: var(--secondaryBackgroundColor);
    /*boxShadow: "0 4px 8px 0 rgba(0,0,0,1)";*/
    border: 1px solid var(--primaryTextColor);
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.Topic {
    background-color: var(--tertiaryBackgroundColor);
	display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.Topic > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

input {
    background-color: var(--tertiaryBackgroundColor);
    color: var(--primaryTextColor);
    border: 1px solid var(--primaryTextColor);
}

button {
    text-decoration: none;
    background-color: var(--primaryBackgroundColor);
    border: 1px solid var(--primaryTextColor);
    color: var(--primaryTextColor);
}

a {
    color: var(--primaryTextColor);
}

table, th, td {
    border: 1px solid var(--primaryTextColor);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.narrowTable th, .narrowTable td {
	padding: 5px;
}

.statusButton {
	background-color: var(--okColor);
}

.statusButton:disabled {
	background-color: var(--errorColor);
}

u {
    cursor: pointer;
}

@media (max-width: 600px) {
    .oversizeCard {
        transform: scale(0.9);
    }
    .Card {
        padding: 0.1rem;
        margin: 0.1rem;
    }
}
